.status-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.status-card h3 {
    margin: 0 0 10px;
}

.status-card img {
    width: 50px;
    /* 아이콘 크기 조정 */
    height: auto;
}

.status-card p {
    font-size: 1.5em;
    margin: 5px 0 0;
}